<h1>Vacinados</h1>

<div class="dadovac-page">
    <a href="/dadovaci">Voltar</a>
    <div class="container">
        <h1>{{dadovac.nome}}</h1>
        <p> Está pessoa tomou: {{dadovac.quantvac}} Vacinas.</p>
        <p>CPF: {{dadovac.cpf}}</p>
        <p>Localidade: {{dadovac.local}}</p>

        <div class="action">
            <!--Aqui é instância para a edição-->
            <a href="/dadovaci/edit/{{dadovac.id}}">Editar</a>
            
            <form action="/dadovaci/remove/{{dadovac.id}}" method="POST">
            <br>
           <input type="submit" value="Remover" class="btn-edit">
            </form>

        </div>    
    
    </div> 
</div>