<h1>Vacinados</h1>

<div class="dadovac-page">
    <a href="/dadovaci">Voltar</a>
    <div class="container">
        <h1>{{dadovac.nome}}</h1>
        <p> Está pessoa tomou: {{dadovac.quantvac}} Vacinas.</p>
        <p>CPF: {{dadovac.cpf}}</p>
        <p>Localidade: {{dadovac.local}}</p>

        <div class="action">
            <a href="/dadovaci/edit/{{dadovac.id}}">Editar</a>

        </div>    
    
    </div> 
</div>